.hapo-wrap {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
}

.hapo-logo {
  margin-left: 60px;
}

.hapo-logo-image {
  width: 340px;
  height: 70px;
}

.hapo-nav {
  margin-left: 120px;
}

.hapo-nav-items {
  padding-left: 0px;
  display: flex;
  width: 800px;
}

.hapo-nav-item {
  list-style-type: none;
  margin-left: 35px;
  line-height: 19px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
}

.hapo-nav-item:nth-child(6) {
  min-width: 65px;
}

.hapo-items-link {
  color: black;
  text-decoration: none;
  border-radius: 17px;
  /* padding */
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
}


/*hover navigation */

.hapo-items-link:hover {
  background-color: #b2d235;
  color: white;
}


/*css banner  */

.hapo-wrap-slide {
  position: relative;
  height: 655px;
  width: 100%;
  background-repeat: no-repeat;
  /* // background-position: -90px; */
  background-image: url("../image/background_slide.png");
}

.hapo-slide-desc {
  position: absolute;
  width: 513px;
  height: 61px;
  margin-left: 51px;
  margin-top: 204px;
}

.hapo-slide-desc-slogan {
  /* dang loi font doan nay fix sau */
  font-family: font_main;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 61px;
  letter-spacing: -0.05em;
}

.hapo-slide-desc-slogan-det {
  display: block;
  width: 249px;
  height: 50px;
  /* font */
  font-family: font_main;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.05em;
  /* color */
  color: #505353;
}

.hapo-button-courses {
  /* size */
  width: 377px;
  height: 70px;
  /*  */
}

.hapo-button-courses-link {
  display: block;
  width: 377px;
  height: 70px;
  margin-top: 30px;
  /* background, color */
  background-color: #b2d235;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
  /* text */
  text-align: center;
  line-height: 70px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 70px;
  /* identical to box height */
  letter-spacing: -0.05em;
  color: #ffffff;
}

.hapo-wrap-message {
  position: absolute;
  width: 360px;
  height: 190px;
}

.hapo-wrap-content-mes {
  width: 100%;
  height: 100%;
  background-color: white;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  border-radius: 23px;
  display: none;
}

.hapo-fixed {
  position: -webkit-sticky;
  position: sticky;
  top: 350px;
  z-index: 1;
  margin-left: 970px;
}

.hapo-user-heading {
  display: flex;
  align-items: center;
}

.hapo-user {
  margin: 0px auto 0px auto;
  padding: 10px 0px 0px 60px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.02em;
  color: #7f7f7f;
}

.hapo-close {
  margin-left: 200px;
}

.hapo-wrap-message-content {
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.hapo-message-content {
  width: 256px;
  padding: 10px 5px 10px 5px;
  display: flex;
  align-items: center;
  background: #f1f0f0;
  border-radius: 15px;
  /* text */
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 17px;
  /* or 142% */
  letter-spacing: -0.02em;
  color: #505353;
}

.hapo-user-image {
  height: 30px;
}

.hapo-message-content {
  margin-left: 10px;
}

.hapo-button-message {
  margin-top: 25px;
}

.hapo-button-message-link {
  display: block;
  width: 276px;
  height: 37px;
  text-align: center;
  line-height: 37px;
  margin: auto;
  /*  */
  background: #3184f7;
  border-radius: 10px;
  color: #ffffff;
}

.det-message {
  margin: 5px auto auto auto;
  padding-left: 0px;
  text-align: center;
}

.hapo-wrap-space {
  width: 100%;
  height: 161px;
  background-image: linear-gradient(0deg, rgb(182, 178, 178), #ffffff);
}


/* css icon message */

.hapo-wrap-icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  right: 0%;
  top: 103%;
  /*  */
  background-color: #2774df;
  border-radius: 50%;
}

.hapo-wrap-icon>img {
  margin-top: 1px;
}


/* css wrap courses */

.hapo-wrap-courses {
  width: 100%;
  position: relative;
}

.hapo-wrap-courses-row {
  width: 100%;
  position: relative;
  top: -104px;
  display: flex;
  justify-content: center;
  /*  */
}

.hapo-row-2 {
  margin: auto;
  width: 480px;
  height: 100px;
  margin-top: 110px;
  border-bottom: 5px solid #b2d235;
  margin-bottom: 66px;
}

.hapo-courses-image-rails_icon {
  position: relative;
  left: 10%;
}

.hapo-courses-image-rails {
  position: relative;
  bottom: -9%;
  left: -10%;
}

.hapo-other-courses h1 {
  margin: 0px auto;
  /* font */
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 98px;
}

.hapo-course {
  width: 366px;
  height: 470px;
  margin: auto 14px;
  /*  */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.hapo-courses-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 215px;
  /*  */
  background: #3f6185;
  border-radius: 15px 15px 0px 0px;
}

.courses-background {
  background: #dc594c;
}

.hapo-courses-det-heading {
  /*  */
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 37px;
  /* identical to box height */
  letter-spacing: -0.05em;
  color: #b2d235;
}

.hapo-courses-det {
  width: 294px;
  margin: auto;
  /*  */
  font-family: font_main;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  /* or 143% */
  text-align: center;
  letter-spacing: -0.05em;
}

.hapo-course-link {
  display: flex;
  justify-content: center;
}

.hapo-button-course-link {
  display: block;
  width: 200px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  margin-top: 15px;
  /*  */
  font-size: 18px;
  font-weight: bold;
  /*  */
  background: #b2d235;
  border-radius: 22px;
  color: white;
}

.hapo-row-4 {
  /*  */
  margin-top: 60px;
  /*  */
  font-family: font_main;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  color: #b2d235;
  /* identical to box height */
  letter-spacing: -0.02em;
}

.hapo-row-4 a {
  color: #b2d235;
}


/* css information HapoLearn */

.hapo-inf-content {
  /* position */
  position: relative;
  /* size */
  height: 740px;
  margin: auto;
  /* background */
  background-image: url("../image/background_inf.png");
  background-repeat: no-repeat;
}

.hapo-inf_1 {
  /* position */
  position: absolute;
  top: -30%;
}

.hapo-inf_2 {
  /* position , width*/
  width: 750px;
  height: 544px;
  position: absolute;
  right: 0%;
  top: 13.5%;
  bottom: 0%;
  /* display */
}

.hapo-content {
  /* width */
  margin-left: 100px;
  position: absolute;
  top: 40%;
  padding-left: 0px;
  /* color */
  color: #ffffff;
}

.hapo-content-heading {
  /* width */
  margin-bottom: 15px;
  /* font */
  font-family: font_main;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 86px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.hapo-content li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  /* font */
  font-family: font_main;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */
  letter-spacing: -0.05em;
}

.hapo-content img {
  margin-right: 15px;
}

.hapo-feedback-heading {
  /* size */
  margin: 110px auto 40px auto;
  padding: 5px 0px;
  width: 330px;
  text-align: center;
  /* border */
  border-bottom: 5px solid #b2d235;
  /* font */
  font-family: font_main;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 98px;
  /* identical to box height */
  letter-spacing: -0.02em;
  color: #11114e;
}

.hapo-feedback-det {
  /* size */
  margin: auto;
  width: 471px;
  /* text */
  text-align: center;
  /* font */
  font-family: font_main;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 31px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #505353;
}


/* css wrap feedback */

.hapo-wrap-feedback-users {
  height: 200px;
  margin-top: 40px;
  /*  */
  display: flex;
  justify-content: center;
}

.left_icon,
.right_icon {
  z-index: 2;
}

.hapo-feedback-user {
  margin: auto 14px;
  width: 570px;
}

.hapo-wrap-feedback-content {
  /* width */
  width: 570px;
  height: 163.47px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  /* border */
  border: 0.5px solid #e2e2e2;
  box-sizing: border-box;
  border-radius: 10px;
}

.hapo-feedback-user-content {
  /* width */
  width: 497px;
  height: 89px;
  z-index: 1;
  /* border */
  font-family: font_main;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.05em;
  /* cross */
  overflow-y: auto;
}

.hapo-message {
  display: flex;
  align-items: center;
  padding: 0px 20px;
}

.hapo-user-inf {
  margin-left: 10px;
}

.hapo-userN,
.hapo-coursesN,
.hapo-like {
  display: flex;
  align-items: center;
  margin: 3px auto;
}

.hapo-wrap-feedback-users {
  position: relative;
}

.hapo-wrap-slider {
  display: flex;
  position: absolute;
  visibility: hidden;
}

.hapo-left-right {
  position: absolute;
  margin-top: 65px;
  width: 89%;
  display: flex;
  justify-content: space-between;
}


/* css wrap-start learn */

.hapo-wrap-learn {
  padding: 134px 0px;
  margin-top: 110px;
  background: url(../image/background7.png);
}

.hapo-wrap-content-learn {}

.hapo-content-learn {
  width: 705px;
  margin: auto;
}

.hapo-learn-heading {
  width: 705px;
  height: 158px;
  /* color */
  font-family: font_main;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 74px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.hapo-button-learn {
  margin: auto;
}

.hapo-learn-link {
  margin-top: 5px;
  /* color */
  background-color: #ffffff;
  color: #90ab26;
  /* font */
  font-family: font_main;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 70px;
  /* identical to box height */
  letter-spacing: -0.05em;
}


/* css statistic */

.hapo-static-data {
  display: flex;
  justify-content: center;
}

.hapo-statistic {
  width: 300px;
}

.hapo-statistic-name,
.hapo-statistic-data {
  text-align: center;
  /*  */
  font-family: font_main;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 74px;
  /* identical to box height */
  letter-spacing: -0.05em;
}

.hapo-statistic-data {
  margin: 30px auto 140px auto;
  color: #b2d235;
}


/* css footer */

.hapo-wrap-footer {
  display: flex;
  justify-content: space-between;
  background: #505353;
  padding: 50px 0px;
}

.footer-det {
  position: relative;
  right: -50%;
  width: 250px;
  height: 50px;
  /* font */
  font-size: 20px;
  line-height: 25px;
}

.hapo-footer-list-page {
  padding-left: 0px;
}

.hapo-list-item {
  font-weight: bold;
  font-size: 23px;
  line-height: 28px;
  /*  */
  margin: 10px auto;
}

.hapo-list-left {
  margin-left: 100px;
}

.hapo-wrap-contact {
  margin-right: 150px;
  display: flex;
  align-items: center;
  z-index: 2;
}

.hapo-face-link {
  margin: auto 20px;
}

.hapo-copyright {
  background: #454545;
  text-align: center;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
}